%header
  %nav.nav-wrapper.teal.accent-4
    = link_to @title, :root, class: 'brand-logo center'
    .container
      %ul.hide-on-med-and-down
        %li= link_to 'First'
        %li= link_to 'Second'

      %ul.right.hide-on-med-and-down
        - if user_signed_in?
          %li= current_user.name
        - else
          %li= link_to 'Login', new_user_session_path





.center
  %br/
  = image_tag 'logo.png', class: 'responsive-img', width: 120
  %p Think different.

.containers
  .row
    - @posts.each do |post|
      .col.s12.m3
        .card.large.teal.lighten-5
          .card-image
            = image_tag '/image.jpg', class: "responsive-img"
          .card-content
            .center
              %span= Time.now.strftime("%Y/%m/%d") 
            %h6.card-title Think Different
            %p
              When you grow up, you tend to get told the world is the way it is and your life is just to live your life inside the world.
              Try not to bash into the walls too much. Try to have a nice family life, have fun, save a little money.
          .card-action.teal.lighten-4
            = link_to post.title, '', class: 'white-text'
