.card.large.teal.lighten-5
  .card-image.waves-effect.waves-light
    = image_tag post.image, class: 'responsive-img'
  .card-content
    .center
      %span= post.updated_at.strftime("%Y/%m/%d") 
    %h6.card-title= post.title
    %p= simple_format(post.body)
  .card-action.teal.lighten-4
    = link_to '記事を読む', post, class: 'white-text'
