%h1 Listing articles

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Auther
      %th Public date
      %th Public
      %th
      %th
      %th

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.body
        %td= article.auther
        %td= article.public_date
        %td= article.public
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Article', new_article_path
